
h1{
    font-size: 20px;
    color:darkslateblue;

}
h2{
    font-size:20px;
    color:blue;
}

h5{font-size:20px;
    color: green;

}
h6{
   font-size:20px;
   color:brown;
}

h7{
    font-size:20px;
    color:chocolate;
}